.wrapper {
    padding: 30px 0;
}

.searchTracks {
    width: 100% !important;
    border-radius: 6px !important;
}
.searchTracks input::placeholder {
    position: relative;
    top: 1px;
    color: var(--color-grey);
}

.searchedTracksWrapper {
    max-height: 70vh;
    padding: 0 10px;
    background-color: var(--color-light-grey);
    border-radius: 8px;
    overflow-y: auto;
}
.searchedTracksWrapper::-webkit-scrollbar {
    width: 4px;
    border: 1px solid var(--color-light-grey);
}
.searchedTracksWrapper::-webkit-scrollbar-thumb {
    background-color: var(--color-purple);
}

.notFound {
    padding: 10px 0;
    text-align: center;
}