.trackProgress input[type=range] {
    width: 100%;
    background: transparent;
    -webkit-appearance: none;
}

.trackProgress input[type=range]:focus {
    outline: none;
}



.trackProgress input[type=range]::-webkit-slider-runnable-track {
    background: var(--color-medium-grey);
    border: 0;
    width: 100%;
    height: 6px;
    cursor: pointer;
    overflow: hidden;
}

.trackProgress input[type=range]::-webkit-slider-thumb {
    width: 0;
    height: 0;
    -webkit-appearance: none;
    box-shadow: calc(-100vw / 2) 0 0 calc(100vw / 2) var(--color-purple);
}
.trackProgress input[type=range]:hover::-webkit-slider-thumb {
    box-shadow: calc(-100vw / 2) 0 0 calc(100vw / 2) var(--color-purple-hover);
}



.trackProgress input[type=range]::-moz-range-track {
    background: var(--color-medium-grey);
    border: 0;
    border-radius: 3px;
    width: 100%;
    height: 6px;
    cursor: pointer;
}
.trackProgress input[type=range]::-moz-range-thumb {
    width: 0;
    height: 0;
    box-shadow: calc(-100vw / 2) 0 0 calc(100vw / 2) var(--color-purple);
}
.trackProgress input[type=range]:hover::-moz-range-thumb {
    box-shadow: calc(-100vw / 2) 0 0 calc(100vw / 2) var(--color-purple-hover);
}



.trackProgress input[type=range]::-ms-track {
    background: var(--color-medium-grey);
    border: 0;
    border-radius: 3px;
    width: 100%;
    height: 6px;
    cursor: pointer;;
}
.trackProgress input[type=range]::-ms-thumb {
    width: 0;
    height: 0;
    box-shadow: calc(-100vw / 2) 0 0 calc(100vw / 2) var(--color-purple);
}
.trackProgress input[type=range]:hover::-ms-thumb {
    box-shadow: calc(-100vw / 2) 0 0 calc(100vw / 2) var(--color-purple-hover);
}